---
before_install:
  - "git fetch --tags"
  - "export PATH=${PATH}:./vendor/bundle"

scala_212: &scala_212 2.12.19
scala_213: &scala_213 2.13.3

language: scala
services:
  - postgresql

jdk:
  - openjdk8

cache:
  directories:
    - $HOME/.coursier/cache
    - $HOME/.ivy2/cache
    - $HOME/.sbt/boot
dist: xenial
install:
  - "rvm use 2.3.0 --install --fuzzy"
  - "gem update --system"
  - "gem install sass"

stages:
  - name: test
  - name: release
    if: "((branch = main AND type = push) OR (tag IS present)) AND NOT fork"

jobs:
  include:
    - &all_tests
      stage: test
      env: TEST="all_tests"
      script: ./all_tests.sh
      scala: *scala_212
    - <<: *all_tests
      env: TEST="all_tests"
      scala: *scala_213
    - env: TEST="styling"
      scala: *scala_213
      script: sbt ++$TRAVIS_SCALA_VERSION scalafmtCheckAll
    - env: TEST="docs"
      script: ./script/travis_init.sh && sbt ++$TRAVIS_SCALA_VERSION docsJVM/mdoc && sbt ++$TRAVIS_SCALA_VERSION docsJVM/docusaurusCreateSite
      scala: *scala_212
      deploy:
        github-token: $GITHUB_TOKEN
        keep-history: true
        local-dir: ./website/build/http4s-modules
        provider: pages
        skip_cleanup: true
        target-branch: gh-pages
        on:
          branch: main
    - stage: release
      script: sbt ci-release
  allow_failures:
    - scala: *scala_212
      env: TEST="all_tests"
